body{
    font-family: 'Comic Sans Ms';
}
.site-heading-lower{
    font-family: 'Comic Sans Ms';
}
.mb-3{
    font-family: 'Comic Sans Ms';
}
a{
    font-family: 'Comic Sans Ms';
}
#mainNav{
    background-color: rgba(0, 100, 0, 0.599);
}